{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row min-vh-100">
    {% include 'dashboard/sidebar.html' %}

    <main class="col-12 col-md-9 col-lg-10 p-4">
      {% if perms.auth.add_user %}
      <h2 class="fw-bold">Add User</h2>
      <form method="post" action="{% url 'add_user' %}" style="max-width: 700px;">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        <div class="mb-3 mt-4">
          {{ form.username.label_tag }}
          {{ form.username }}
          {% if form.username.errors %}
            <div class="text-danger">
              {{ form.username.errors }}
            </div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.email.label_tag }}
          {{ form.email }}
          {% if form.email.errors %}
            <div class="text-danger">
              {{ form.email.errors }}
            </div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.first_name.label_tag }}
          {{ form.first_name }}
          {% if form.first_name.errors %}
            <div class="text-danger">
              {{ form.first_name.errors }}
            </div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.last_name.label_tag }}
          {{ form.last_name }}
          {% if form.last_name.errors %}
            <div class="text-danger">
              {{ form.last_name.errors }}
            </div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.is_active.label_tag }}
          {{ form.is_active }}
          {% if form.is_active.errors %}
            <div class="text-danger">
              {{ form.is_active.errors }}
            </div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.is_staff.label_tag }}
          {{ form.is_staff }}
          {% if form.is_staff.errors %}
            <div class="text-danger">
              {{ form.is_staff.errors }}
            </div>
          {% endif %}
        </div>
      
        <div class="mb-3">
          {{ form.groups.label_tag }}
          {{ form.groups }}
          {% if form.groups.errors %}
            <div class="text-danger">
              {{ form.groups.errors }}
            </div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.user_permissions.label_tag }}
          {{ form.user_permissions }}
          {% if form.user_permissions.errors %}
            <div class="text-danger">
              {{ form.user_permissions.errors }}
            </div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.password1.label_tag }}
          {{ form.password1 }}
          {% if form.password1.errors %}
            <div class="text-danger">
              {{ form.password1.errors }}
            </div>
          {% endif %}
        </div>

        <div class="mb-3">
          {{ form.password2.label_tag }}
          {{ form.password2 }}
          {% if form.password2.errors %}
            <div class="text-danger">
              {{ form.password2.errors }}
            </div>
          {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% else %}
      <div class="alert alert-danger" role="alert">
        You do not have permission to add a user.
      </div>
      {% endif %}
    </main>
  </div>
</div>

{% endblock %}